

.vertical-timeline-element-content {
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
      0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
    padding: 2em 3em !important;
  }

  .v
  
  .date {
    background: rgb(201, 251, 255);
  }
  
  #description {
    margin: 1.5em 0 2em 0;
    color: black;
  }
  
  .button {
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    color: white;
  }
  
  .workButton {
    background-color: #EDB458;
  }
  

  .workButton:hover {
    background-color: #EDB458;
  }
  
  .schoolButton {
    background-color: #3E92CC;
  }
  
  .schoolButton:hover {
    background-color: #3E92CC;
  }

  .title { 
    display: flex;
    justify-content: center;
    color: #fff;
   
  }

  
  @media only screen and (max-width: 1700px) {
    .vertical-timeline-element-date {
      display: block !important;
      float: none !important;
      color: rgb(44, 44, 44);
      margin-top: 1.5em;
    }
  }