body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Header 
{ 
    padding: 2%;
}

.Main 
{ 
    /* background-image: url('./images/image.avif'); */
    background-color: #110B11;
    min-width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}


.Main > .container > h1, p{ 
  position: relative;
  z-index: 1;
  text-align: justify;
  color: whitesmoke;
  max-width: 500px;
  padding-top: 1%;
  line-height: 2  ;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif  ;
}

.Education { 
  background-color: #F7F9F9;
}

.WorkEx { 
  background-color: #F7F9F9 ;
}

.footer { 
  background-color: #110B11;
  align-items: center;
}

.Project { 
  background-color: #363537;
  color: #F1FFE7;
}





